@import 'tailwindcss';
@config "tailwind.config.ts";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-palette-generator" {
  primary: #00adb5;
  secondary: #393e46;
  dark: #222831;
  light: #eeeeee;
}

@theme {
  --font-sans: Inter, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

@layer base {
  * {
    font-family:
      'Inter',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    @apply antialiased;
  }

  body {
    @apply bg-dark text-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply text-primary hover:underline;
  }
}
