---
import Layout from '@/layouts/Default.astro';
import type { ListItem } from '@/types';
import { Github, Twitter, Linkedin, FileText, Chrome, Heart } from 'lucide-astro';

import '../styles/global.css';

const socialMedias: ListItem[] = [
  { title: 'Github', url: 'https://github.com/ibodev1', icon: Github },
  { title: 'Twitter (X)', url: 'https://twitter.com/ibodev1', icon: Twitter },
  { title: 'LinkedIn', url: 'https://www.linkedin.com/in/ibrahimodev', icon: Linkedin },
  { title: 'Read.cv', url: 'https://read.cv/ibodev', icon: FileText },
  { title: 'Google Dev', url: 'https://g.dev/ibodev', icon: Chrome },
  { title: 'Bluesky', url: 'https://bsky.app/profile/ibrahimo.dev', icon: Heart }
];
---

<Layout>
  <div class="flex items-center justify-center flex-col gap-8 text-center px-4 h-screen">
    <div class="max-w-2xl">
      <h1 class="text-light text-4xl sm:text-5xl md:text-6xl font-bold">Hello! I'm Ibrahim 👋</h1>
      <p class="text-light-500 text-lg sm:text-xl mt-4">Software Developer</p>
    </div>
    <div class="flex items-center justify-center gap-4 flex-wrap">
      {
        socialMedias.map(({ icon: Icon, title, url }) => (
          <a
            href={url}
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="bg-secondary hover:bg-secondary-600 active:bg-secondary-700 transition-all duration-200 ease-in-out w-24 h-24 rounded-lg flex items-center justify-center text-center text-ellipsis flex-col text-nowrap space-y-2"
            aria-label={title}
          >
            <Icon class="w-6 h-6" />
            <span class="text-sm">{title}</span>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
