---
import type { ListItem } from '@/types';
import { Home, Contact, Mail } from 'lucide-astro';
import { MAILTO } from '@/consts';

const listItems: ListItem[] = [
  { title: 'Home', url: '/', icon: Home },
  { title: 'About', url: '/about', icon: Contact },
  { title: 'Hire Me', url: MAILTO, icon: Mail }
];
---

<div
  class="bg-dark-600/80 backdrop-blur-md fixed bottom-5 lg:bottom-10 left-1/2 transform -translate-x-1/2 shadow-lg shadow-dark-600 rounded-lg overflow-hidden !z-[99999999]"
  transition:animate="none"
>
  <nav>
    <ul class="flex items-center justify-center">
      {
        listItems.map((item) => {
          let isActive = Astro.url.pathname.startsWith(item.url);
          isActive = item.url == '/' ? item.url == Astro.url.pathname : isActive;
          return (
            <li>
              <a
                href={item.url}
                class:list={[
                  'min-w-[80px] min-h-[70px] max-w-[80px] max-h-[70px] p-2 flex items-center justify-center flex-col hover:bg-dark-400/50 transition-all',
                  { 'bg-primary/20': isActive }
                ]}
              >
                {<item.icon class="w-6 h-6" />}
                <p class="font-semibold text-sm mt-0.5">{item.title}</p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</div>
