---
import { SITE_TITLE } from "../consts";
---

<div x-show.transition.opacity.duration.700ms="open" class="absolute bottom-10 left-1/2 transform -translate-x-1/2">
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <!-- <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink> -->
    </div>
  </nav>
</div>
