---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'h1'>;

const { class: className, ...props } = Astro.props;
---

<h1
  class:list={[className, 'text-light text-2xl sm:text-3xl md:text-4xl font-bold inline border-b-4 border-primary']}
  {...props}
>
  <slot />
</h1>
