---
import BaseHead from '@/components/BaseHead.astro';
import BottomNavigatonBox from '@/components/BottomNavigatonBox.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-dark text-light font-sans relative min-h-screen max-w-full min-w-full overflow-x-hidden"
    transition:animate="none"
  >
    <main transition:animate="fade">
      <slot />
    </main>
    <BottomNavigatonBox />
  </body>
</html>
